<div class="flex justify-center items-center h-full">
    <div class="w-full max-w-2xl bg-transparent">
        <ul class="list-none">
            <li *ngFor="let proyecto of listaProyectos; let i = index"
                class="cursor-pointer flex items-center justify-center text-left rounded-lg p-2 transition-all hover:bg-gray-800 hover:text-white shadow-md hover:shadow-gray-500/50 w-1/2 mx-auto"
                (click)="verDetalles(i)">
                <!-- Contenido a la izquierda -->
                <div class="flex items-center gap-4">
                    <span class="text-xs text-gray-400 ">{{ proyecto.tipo }}</span>
                    <span class="text-xl font-medium text-white">{{ proyecto.nombre }}</span>
                </div>
            </li>
        </ul>
        <p class="text-sm text-gray-500 text-center mt-4 select-none">
            Pulsa sobre cualquier proyecto para ver más información
        </p>

    </div>
</div>