<div class="absolute inset-0 overflow-auto mt-0 ml-0 lg:mt-50 lg:ml-60 select-none">
    <div class="p-4">
        <ul class="list-none">
            <li *ngFor="let exp of experiencia"
                class="flex flex-col justify-between text-center rounded-lg p-2 mb-4 mx-auto">
                <h3 class="text-xs md:text-xl font-semibold text-gray-400">{{ exp.puesto }}</h3>
                <p class="text-xs md:text-base text-gray-300">{{ exp.empresa }}</p>
                <p class="text-xs md:text-sm text-gray-300">{{ exp.fechaInicio }} / {{ exp.fechaFin }}</p>
                <p *ngFor="let tarea of exp.tareas" class="text-xs md:text-sm text-gray-300">{{tarea}}</p>

            </li>
        </ul>
    </div>
</div>