<div class="flex justify-end items-center h-full select-none px-2 sm:px-4">
    <div class="w-full sm:max-w-md md:max-w-2xl rounded-lg p-4 pt-0 md:p-6 md:pt-6">
        <p class="text-gray-900 dark:text-gray-100 text-xs md:text-xl leading-normal textAnimation">
            Nacido en 1994<br>
            en <b class="animate-text">Madrid, España.</b><br><br>
            Creo que el diseño<br>
            debe <b class="animate-text">ser simple<br>
                y funcional.</b><br><br>
            Mi misión es <b class="animate-text">crear<br>
                experiencias intuitivas<br>
                y elegantes,</b><br>
            donde cada detalle<br>
            tiene un propósito.
        </p>
    </div>
</div>