<div class="flex justify-end items-center h-full select-none px-2 sm:px-4">
    <div class="w-full sm:max-w-md md:max-w-2xl rounded-lg p-4 pt-0 md:p-6 md:pt-6">
        <div class="flex items-center space-x-2 mt-2">
            <a href="https://github.com/AdrianMartinCano" target="_blank" class="flex items-center space-x-2">
                <i class="fab fa-github h-4 w-4 md:h-5 md:w-5 text-white"></i>
                <p class="font-mono text-xs md:text-2xl mb-1 text-white">Github</p>
            </a>
        </div>
        <div class="flex items-center space-x-2 mt-2">
            <a href="https://www.linkedin.com/in/adrian-martin-cano/" target="_blank"
                class="flex items-center space-x-2">
                <i class="fab fa-linkedin h-4 w-4 md:h-5 md:w-5 text-white"></i>
                <p class="font-mono text-xs md:text-2xl mb-1 text-white">Linkedin</p>
            </a>
        </div>
        <div class="flex items-center space-x-2 mt-2">
            <a href="mailto:amc.1994.mca@gmail.com" target="_blank" class="flex items-center space-x-2">
                <i class="fas fa-envelope h-4 w-4 md:h-5 md:w-5 text-white"></i>
                <p class="font-mono text-xs md:text-2xl mb-1 text-white">Email</p>
            </a>
        </div>
    </div>
</div>